
@using Projektsystem.BlazorApp.Data;
@using System.Globalization;
@using Microsoft.Extensions.Options

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                 <Projektsystem.BlazorApp.Pages.UnauthorizedPage  />
                </NotAuthorized>
                <Authorizing>
                    <div>authrizing</div>
                </Authorizing>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <div class="page page-center">
                    <div class="container-tight py-4">
                        <div class="empty">
                            <div class="empty-header">404</div>
                            <p class="empty-title">Oops… You just found an error page</p>
                            <p class="empty-subtitle text-secondary">
                                We are sorry but the page you are looking for was not found
                            </p>
                            <div class="empty-action">
                                <a href="/" class="btn btn-primary">
                   
                                    Take me home
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
@code {

}